body {
  font: 22px "Century Gothic", sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

p {  
  display: block;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.status-info {
  margin-left: 20px;
}

.board {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.scores-container {
  margin-left: 7px;
}



